# SPDX-FileCopyrightText: 2026 Ryan Madhuwala
# SPDX-License-Identifier: MIT

openapi: 3.0.3
info:
  title: linkedin-api
  description: >
    Retrieves publicly accessible LinkedIn profile information via LinkedIn's
    internal profile API and returns it as a normalized JSON document.
  version: "2.2"
servers:
  - url: https://linkedinapi-app.nicegrass-014c577e.eastus.azurecontainerapps.io
    description: Production
  - url: http://localhost:8080
    description: Local development

paths:
  /v1/profile:
    get:
      summary: Fetch a normalized LinkedIn profile
      operationId: getProfile
      description: >
        Returns a normalized profile. Access is authorized by the X-API-Key header
        when API_KEYS is configured; the co-hosted same-origin browser UI is exempt
        so the server key never reaches the browser, while programmatic clients must
        send it. By default the request uses the server-configured LinkedIn session.
        A caller may optionally supply its own LinkedIn session through the
        X-LinkedIn-Li-At and X-LinkedIn-JSESSIONID headers, with optional
        X-LinkedIn-User-Agent; when both cookies are present the request uses only
        that caller session, never the server session, and is not served from or
        written to the shared cache. Caller credentials are used for the single
        request only and are never stored, logged, traced, or cached.
      parameters:
        - name: url
          in: query
          required: true
          description: A LinkedIn profile URL of the form https://www.linkedin.com/in/{identifier}
          schema:
            type: string
          example: https://www.linkedin.com/in/williamhgates
        - name: X-LinkedIn-Li-At
          in: header
          required: false
          description: >
            Optional caller-supplied LinkedIn li_at cookie. Must be sent together with
            X-LinkedIn-JSESSIONID; supplying only one is a 400. Prefer loading it from
            an environment variable rather than typing it into shell history.
          schema:
            type: string
        - name: X-LinkedIn-JSESSIONID
          in: header
          required: false
          description: >
            Optional caller-supplied LinkedIn JSESSIONID cookie. Must be sent together
            with X-LinkedIn-Li-At.
          schema:
            type: string
        - name: X-LinkedIn-User-Agent
          in: header
          required: false
          description: >
            Optional browser User-Agent for a caller-supplied session, so the request
            matches the browser that created the cookies. Ignored without caller cookies.
          schema:
            type: string
      security:
        - apiKey: []
      responses:
        "200":
          description: The normalized profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileResult"
        "400":
          description: The request was malformed or the URL was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: >
            A valid API key was required and not provided, or a caller-supplied
            LinkedIn session was rejected by LinkedIn or is already known to be
            expired (caller_session_invalid).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: The profile could not be found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          description: The public rate limit or the upstream rate limit was exceeded.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "502":
          description: Upstream authentication failed or the response could not be parsed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: LinkedIn was temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "504":
          description: The upstream request timed out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /v1/image:
    get:
      summary: Proxy a LinkedIn profile image
      operationId: getImage
      description: >
        Proxies an image from media.licdn.com so the browser UI can render
        profile and background pictures. Only https URLs on that host are
        accepted, the response body is capped at 8 MiB, and the endpoint sits
        behind the same authentication and rate limiting as /v1/profile.
      parameters:
        - name: url
          in: query
          required: true
          description: An https://media.licdn.com/... image URL from a profile response.
          schema:
            type: string
      security:
        - apiKey: []
      responses:
        "200":
          description: The image bytes with the upstream content type.
          content:
            image/*:
              schema:
                type: string
                format: binary
        "400":
          description: The URL was missing, malformed, or not a media.licdn.com https URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: A valid API key was required and not provided.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          description: The public rate limit was exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: The image could not be fetched.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /healthz:
    get:
      summary: Liveness probe
      operationId: healthz
      responses:
        "200":
          description: The process is alive.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /readyz:
    get:
      summary: Readiness probe
      operationId: readyz
      responses:
        "200":
          description: The service is ready to serve traffic.
        "503":
          description: The service is not ready.

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    ProfileResult:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Profile"
        meta:
          $ref: "#/components/schemas/Meta"
      required: [data, meta]

    Meta:
      type: object
      properties:
        retrieved_at:
          type: string
          format: date-time
        schema_version:
          type: string
          example: "2.2"
        source:
          type: string
          example: linkedin
        cached:
          type: boolean
        sections:
          type: object
          additionalProperties: { type: string, enum: [ok, empty, unavailable] }
          description: Retrieval status of each attempted enrichment section.
      required: [retrieved_at, schema_version, source, cached]

    Profile:
      type: object
      properties:
        public_identifier: { type: string }
        profile_url: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        full_name: { type: string }
        headline: { type: string }
        summary: { type: string }
        profile_language: { type: string, example: en_US }
        supported_locales:
          type: array
          items: { type: string }
          example: [en_US]
        location:
          $ref: "#/components/schemas/Location"
        profile_picture:
          $ref: "#/components/schemas/Image"
        background_image:
          $ref: "#/components/schemas/Image"
        websites:
          type: array
          items:
            $ref: "#/components/schemas/Website"
        creator_website: { type: string }
        topics:
          type: array
          items: { type: string }
        verified: { type: boolean }
        influencer: { type: boolean }
        premium: { type: boolean }
        creator: { type: boolean }
        top_voice: { type: boolean }
        student: { type: boolean }
        memorialized: { type: boolean }
        created_at: { type: string, format: date-time }
        experience:
          type: array
          items: { $ref: "#/components/schemas/Experience" }
        education:
          type: array
          items: { $ref: "#/components/schemas/Education" }
        skills:
          type: array
          items: { type: string }
        certifications:
          type: array
          items: { $ref: "#/components/schemas/Certification" }
        languages:
          type: array
          items: { $ref: "#/components/schemas/Language" }
        volunteer_experience:
          type: array
          items: { $ref: "#/components/schemas/VolunteerExperience" }
        projects:
          type: array
          items: { $ref: "#/components/schemas/Project" }
        test_scores:
          type: array
          items: { $ref: "#/components/schemas/TestScore" }
      required: [public_identifier, profile_url]

    Location:
      type: object
      properties:
        country_code: { type: string }
        text: { type: string }

    Image:
      type: object
      properties:
        url: { type: string }
        variants:
          type: array
          items:
            $ref: "#/components/schemas/ImageVariant"
      required: [url]

    ImageVariant:
      type: object
      properties:
        width: { type: integer }
        height: { type: integer }
        url: { type: string }
      required: [width, url]

    Date:
      type: object
      properties:
        year: { type: integer }
        month: { type: integer }
        day: { type: integer }
      required: [year]

    DateRange:
      type: object
      properties:
        start: { $ref: "#/components/schemas/Date" }
        end: { $ref: "#/components/schemas/Date" }

    Experience:
      type: object
      properties:
        title: { type: string }
        company: { type: string }
        company_url: { type: string }
        location: { type: string }
        description: { type: string }
        date_range: { $ref: "#/components/schemas/DateRange" }

    Education:
      type: object
      properties:
        school: { type: string }
        school_url: { type: string }
        degree: { type: string }
        field_of_study: { type: string }
        grade: { type: string }
        activities: { type: string }
        description: { type: string }
        date_range: { $ref: "#/components/schemas/DateRange" }

    Certification:
      type: object
      properties:
        name: { type: string }
        authority: { type: string }
        authority_url: { type: string }
        url: { type: string }
        license_number: { type: string }
        date_range: { $ref: "#/components/schemas/DateRange" }

    Language:
      type: object
      properties:
        name: { type: string }
        proficiency: { type: string }
      required: [name]

    VolunteerExperience:
      type: object
      properties:
        role: { type: string }
        organization: { type: string }
        organization_url: { type: string }
        cause: { type: string }
        description: { type: string }
        date_range: { $ref: "#/components/schemas/DateRange" }

    Project:
      type: object
      properties:
        title: { type: string }
        description: { type: string }
        date_range: { $ref: "#/components/schemas/DateRange" }

    TestScore:
      type: object
      properties:
        name: { type: string }
        score: { type: string }
        description: { type: string }
        date: { $ref: "#/components/schemas/Date" }

    Website:
      type: object
      properties:
        url: { type: string }
        category: { type: string }
      required: [url]

    ErrorEnvelope:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - unauthorized
                - caller_session_invalid
                - profile_not_found
                - rate_limited
                - upstream_auth_failed
                - upstream_rate_limited
                - upstream_timeout
                - upstream_unavailable
                - upstream_parse_error
                - internal_error
            message:
              type: string
            request_id:
              type: string
          required: [code, message]
      required: [error]
